<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=RESTAURANT.name%></title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <h1><%=RESTAURANT.name %></h1>
    <h2><%=RESTAURANT.address%></h2>
    <h3><%=RESTAURANT.phone%></h3>
    <h4><%=RESTAURANT.isOpen === true ? "Yes We Are Open!":"Sorry, We Are Closed."%></h4>
  </body>
</html>
